@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $urbanist;
}

:root {
  --Primary: #36bf44;
}

body {
  color: #efefef;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #efefef;
  text-align: center;
}

button {
  font-size: 0.93svw;
}
