@mixin flexbox($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin media-breakpoint-down($breakpoint: 1440px) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin media-breakpoint-up($breakpoint: 1440px) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
