.benefit {
  position: relative;
  $parent: &;
  height: 62svw;
  width: 100%;
  background-color: var(--light-green);
  @include flexbox(column, center, center);
  overflow: hidden;

  &__lines {
    position: absolute;
    width: 100%;
    height: 100svw;
    @include flexbox(row, flex-end, center);
  }
  &__squares {
    position: relative;
    height: 67.1svw;
    width: 82.9svw;
    transform: rotate(-65deg);
  }
  &__content {
    @include flexbox(column, center, center);
    gap: 3svw;
    position: relative;
    z-index: 3;
    &__wrapper {
      @include flexbox(column, center, center);
      gap: 1svw;

      &__box {
        @include flexbox(column, center, center);
        gap: 1svw;
      }

      &__top {
        @include flexbox(row, center, center);
        gap: 1svw;
      }
      &__bottom {
        @include flexbox(row, center, center);
        gap: 1svw;
      }
    }
    &__first {
      transform: translateX(-500px);
      opacity: 0;
    }
    &__second {
      transform: translateX(500px);
      opacity: 0;
    }
    &__third {
      transform: translateX(-400px);
      opacity: 0;
    }
    &__fourth {
      transform: translateX(400px);
      opacity: 0;
    }
    &__fifth {
      transform: translateY(300px);
      opacity: 0;
    }
  }
}
