.process {
  $parent: &;
  background-color: var(--marsh-green);
  height: 63.5svw;
  overflow: hidden;

  &__imageWrapper__lines {
    background-image: url("/assets/images/common/lines-process.png");
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 63.5svw;
    z-index: 1;
    @include flexbox(row, center, center);
    position: absolute;
  }
  &__imageWrapper__squares {
    position: relative;
    width: 82.9svw;
    height: 50.7svw;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    rotate: 35deg;
  }
  &__content {
    @include flexbox(column, center, center);
    height: 100%;
    gap: 3svw;
  }
}
.section__title {
  transform: translateX(-250px);
  opacity: 0;
}
