.wrapper {
  $parent: &;
  width: 46.7svw;
  @include flexbox(row, center, flex-start);
  gap: 2.5svw;
  position: relative;

  &__imageWrapper {
    @include flexbox(column, center, center);

    &__circle {
      @include flexbox(center, center, center);
      position: relative;
      height: 6.09svw;
      width: 6.09svw;

      &__number {
        position: absolute;
        font-size: 1.875svw;
        font-weight: 700;
      }
      &__img {
        width: 100%;
        height: 100%;
      }
    }
    &__stick {
      position: relative;
      height: 5.83svw;
      width: 0.2svw;
    }
  }
  &__title {
    font-size: 1.87svw;
    font-weight: 700;
  }
  &__text {
    font-size: 1.25svw;
    font-weight: 100;
  }
}
